.area {
    background-color: rgb(244, 255, 244);
    border: 5px solid rgb(221, 255, 216);
}
.area-open.area-mine {
    background-color: rgb(87, 207, 71);
    border: 5px solid rgb(63, 180, 52);
}
.area-open {
    background-color: rgb(247, 255, 244);
    border: 5px solid rgb(211, 255, 204);
}
.around-1 {
    background-color: rgb(246, 255, 245);
    border: 5px solid rgb(213, 255, 212);
    color: rgb(159, 218, 154);
}
.around-2 {
    background-color: rgb(233, 255, 229);
    border: 5px solid rgb(208, 253, 207);
    color: rgb(153, 222, 136);
  }
  .around-3 {
    background-color: rgb(210, 255, 208);
    border: 5px solid rgb(177, 235, 173);
    color: rgb(110, 218, 104);
  }
.around-4 {
    background-color: rgb(196, 255, 198);
    border: 5px solid rgb(165, 237, 160);
    color: rgb(99, 186, 67);
}
.around-5 {
    background-color: rgb(194, 255, 186);
    border: 5px solid rgb(152, 232, 144);
    color: rgb(71, 159, 49);
}
.around-6 {
  background-color: rgb(179, 255, 172);
  border: 5px solid rgb(151, 238, 133);
  color: rgb(45, 146, 36);
}
.around-7 {
  background-color: rgb(167, 255, 157);
  border: 5px solid rgb(127, 233, 119);
  color: rgb(34, 122, 24);
}
.around-8 {
  background-color: rgb(155, 255, 146);
  border: 5px solid rgb(124, 236, 112);
  color: rgb(33, 121, 25);
}
.area-close {
  background-color: rgb(134, 255, 113);
  border: 5px solid rgb(79, 206, 53);
  color: rgba(0, 0, 0, 0);
}
.tools button {
  background-color: rgb(245, 255, 244);
  border: 5px solid rgb(149, 210, 129);
}
.tools button.active {
  background-color: rgb(125, 255, 113);
  border: 5px solid rgb(77, 225, 58);
}
.tools button.iftrue {
  background-color: rgb(120, 255, 113);
  border: 5px solid rgb(77, 225, 58);
}
.area-first.area-close {
  background-color: rgb(201, 255, 203);
  border: 5px solid rgb(165, 255, 155);
}
.menu .button {
  background-color: rgb(118, 210, 88);
  border: 5px solid rgb(70, 169, 43);
}

